body {
padding-top: 0.5em;
  width: 60em;
  margin: auto;
  text-align: center;
  background-color: #FFD555;
}
header {
  font-family: cursive;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
}
.title {
  font-weight: bold;
}
.slogan {
  font-size: 150%;
  font-style: italic;
  margin-bottom: 0.7em;
}
.leftHeaderImg {
  width: 22%;
  position: absolute;
  top: 0em;
  left: 0em;
}
.rightHeaderImg {
  width: 22%;
  position: absolute;
  top: 0em;
  left: 0em;
}